<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title"> Racing Bike</h1>
       <p class="slogan">Everyone can be a good explorer.
         <br>
         We offer all kinds of racing bike as well as best after-sales service.
         <br>
         Your attention will be our driving force.
       </p>
       <p class="lead">
         <%= link_to 'Go for a look', products_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>
 </div>


 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading"> May you need a strong one </h2>
         <p class="lead"> Just like a wild horse </p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-b">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading"> Or like this?</h2>
         <p class="lead">It can take you to anywhere, for more information  <a target="_blank" href="http://xxcalvin-blog.logdown.com/">Calvin's Blog</a></p>
       </div>
       <div class="col-lg-5 col-sm-pull-6  col-sm-6">
         <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>

 <div class="content-section-a">
   <div class="container">
     <div class="row">
       <div class="col-lg-5 col-sm-6">
         <hr class="section-heading-spacer">
         <div class="clearfix"></div>
         <h2 class="section-heading">More exciting<br>More safety</h2>
         <p class="lead">Don't forget a safety helmet</p>
       </div>
       <div class="col-lg-5 col-lg-offset-2 col-sm-6">
         <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
       </div>
     </div>
   </div>
 </div>
